*{
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}
@media screen and (max-width:305px) {
        .container,.container ul,.container ul li{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
}

body{
    background: #000;
    position: absolute;
    animation: appear  linear;
    justify-content: center;
    display: flex;

    transition: all 0.1s ease-in-out;
}

.container ul li .span{
    width: 80%;
    animation: appear  linear;
    margin: 0 auto;
    flex-grow: 1;
    background: linear-gradient(135deg, #e0c217, rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid #e0c217;
    background-color: #000;
    box-shadow: 0 8px 32px 0 #e0c217;
    margin-left: 500px;
    background-color: aliceblue;
}
.container ul li .btn1{
    color: #ecc916;
    animation: bt1nn;
   animation: bt1nn .4s linear ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute;
    animation: preencher .5s linear  ease-in-out;
    text-align: center;
    animation: appear  linear;
    padding: 10px;
    background-color: #000;
    font-size: 25px;
    overflow: hidden;
    margin-top: 100vh;
    position: absolute;
    margin: 500px;
    margin-left: 490px;
    margin-top: 265px;
    text-decoration: none;
    width: 600px;
    border: 2px solid #e0bf00;
    font-weight: bold;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
   
    flex-grow: 1;

}

.container ul li .bt{
    width: 100px;
    flex-grow: 1;
    height: 100px;
    margin-left: -430px;
    justify-content: center;
    animation: appear  linear;
}

.container ul{
    padding: 0;
    flex-grow: 1;
    margin: 0; animation: appear  linear;
}
.container{
    position: absolute;
    width: 715px;
    animation: appear  linear;
    margin: 50px;
    display: flex;
    grid-column: auto;
    height: 650px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgb(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid #ffe250;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color:#000000;
}

.container ul li .bt #SEC1{
    width: 600px;
    box-sizing: border-box;
    flex-grow: 1;
    list-style: none;
    position: absolute;
    align-items: center; animation: appear  linear;
    background-color: #000;
    justify-content: center;
    margin-right: 400;
    margin-left:  490px;
    margin-top: -220px;
    height: 480px;
    flex-grow: 1;
    background: linear-gradient(135deg, #ffe655, rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid #e0c217;
    box-shadow: 0 8px 32px 0 #e0c217;
}
.imagem{
    width: 100%;
    height: 100%;
   
    border-radius: 20px;
    border:1px solid #e0c217;
    box-shadow: 0 8px 32px 0 #e0c217;
}

:root{
    --cor-de-fundo: #000;
    --cor-pontos: #fff;
    --tamanho: 5px;

}
.loading{
    background-color: var(--cor-de-fundo);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid #e0c217;
    box-shadow: 0 8px 32px 0 #e0c217;
    left: 0;
    z-index: 1000; animation: appear  linear;
    transition: 0.2ms;
    overflow: hidden;
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
}
.doo .loading{
    transition: 0.1ms;
    position: absolute;
    overflow: hidden;
    background-color: #000;

}

@keyframes appear{
    from {
        opacity: 0; scale: 0.5;

        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
        opacity: 1;     scale: 1;
    }
    
}

#thiagolindo{
    color: #fff;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 2px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    position:fixed;
    margin: 0;
    white-space: nowrap;
    width: 500px;
    letter-spacing: 4px;
    margin-top: -64px;
    height: 32px;

    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
}
.points{
    border: var(--tamanho) solid var(--cor-pontos); border-radius: 50%; margin: calc(var(--tamanho)*2); 
}
.points:nth-child(1){
    animation: pre-loading .6s infinite ease-in-out  alternate;
    
}
.points:nth-child(2){
    animation: pre-loading .4s infinite ease-in-out  alternate;
}
.points:nth-child(3){
    animation: pre-loading .3s infinite ease-in-out  alternate;
}

@keyframes pre-loading{
    100% {
        transform: scale(2);
        transition: 0.2ms;
     
    }

}


ul li .btn:first-child{
    filter: hue-rotate(2deg);

}
ul li .btn1:last-child{
    filter: hue-rotate(90deg);
}
ul li #text1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: -310px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    font-size: 35px;
    animation-duration: texto123 .4s;
    animation: texto123 .6s linear infinite alternate;
    animation: mark .5 step-end infinite alternate,
    write 3s steps(22,end) ;
}

@keyframes texto123{
    0%{
       color: #fff;
       transition: all 0.4s ease-in-out;
    }
    50%{
        color: #e0c217;
        transition: all 0.4s ease-in-out;    }
    100%{
        transition: all 0.4s ease-in-out;
        color: #ffe655;
    }
    
}
@keyframes preencher {
    0% {
      fill: transparent;
    }
    100% {
      fill: #002F52;
    }
  }
@keyframes mark{
    50%{
            box-shadow: 1rem 0 0 transparent;
    }
}
@keyframes write{
    0%{
         width: 0;
    }
}
@keyframes bt1nn{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.05);
  }
}
ul li .btn1:hover{
   background-color: #ebc81b;
   color: #000;
   box-shadow: 0 0 5px #e0c217,
   0 0 15px #e0c217,
   0 0 25px #e0c217,
   0 0 50px #e0c217;
   -webkit-box-reflect: below 1p linear-gradient(transparent, #0005);
   animation-duration: 0.5s;
   cursor: pointer;
   font-size: 27px;
   transition: all 0.4s ease-in-out;
}
